extends layout

block hnav
  li
    a(href='#') Home
  li
    a(href='#') Home

block content
  each post in blogposts
    .blogpost
      h1 #{post.title}
      .blogcontent !{post.html}
      .blogmeta
        i.icon-user
        | &nbsp; #{post.user} &nbsp;
        i.icon-calendar
        | &nbsp; #{moment(post.publish_time).format('LLLL')} (#{moment(post.publish_time).fromNow()})
        | Tags: &nbsp;
        each tag in post.tags
          a.label.label-info(href='/blog/tag/'+tag) #{tag}
          span &nbsp;

block rightnav
  ul.nav.nav-list
    li.nav-header Lastest Posts
    li
      a(href='#') Foo
    li
      a(href='#') Bar
    li.nav-header Tags
    li
      a(href='#') Foo
    li
      a(href='#') Bar
