extends layout

block append head
  script(src='/js/parser_rules/advanced.js')
  script(src='/js/wysihtml5-0.3.0.js')
  script(src='/js/admin.js')
  link(href='/css/editor.css', rel='stylesheet', media='screen')

block content
  .editor
    ul.editor-navbar#toolbar
      li.dropdown
        a.btn.editor_h1(data-wysihtml5-command="formatBlock",data-wysihtml5-command-value='h1') H1
        a.btn.editor_h2(data-wysihtml5-command="formatBlock",data-wysihtml5-command-value='h2') H2
        a.btn.editor_h3(data-wysihtml5-command="formatBlock",data-wysihtml5-command-value='h3') H3
      li:.btn-group
        a.btn(data-wysihtml5-command="bold",title="CTRL+B"): i.icon-bold
        a.btn(data-wysihtml5-command="italic",title="CTRL+I"): i.icon-italic
        a.btn(data-wysihtml5-command="underline",title="CTRL+U"): i.icon-underline
      li:.btn-group
        a.btn(data-wysihtml5-command="justifyLeft"): i.icon-align-left
        a.btn(data-wysihtml5-command="justifyCenter"): i.icon-align-center
        a.btn(data-wysihtml5-command="justifyRight"): i.icon-align-right
      li:.btn-group
        a.btn(data-wysihtml5-command="insertUnorderedList"): i.icon-list-ul
        a.btn(data-wysihtml5-command="insertOrderedList"): i.icon-list-ol
      li:.btn-group
        a.btn(data-wysihtml5-command="createLink"): i.icon-link
        a.btn(onclick='editor_cmd("insert-image")'): i.icon-picture
      li:.btn-group
        a.btn(data-wysihtml5-command="undo"): i.icon-undo
        a.btn(data-wysihtml5-action="change_view"): i.icon-tag

    #imagechooser.modal.hide.fade(tabindex="-1", role='dialog', aria-labelledby="imgChooserLabel", aria-hidden="true")
      .modal-header
        button.close(data-dismiss="modal",aria-hidden="true") x
        h3#imgChooserLabel Choose Image
      .modal-body#imageframe
        label Image Url:
          input#imagelink(type='text')
        label Alt Text:
          input#alttext(type='text')
        .imagedlg
          #imageinfo
          #imagelist
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Cancel
        button.btn.btn-primary(onclick='javascript:insert_image()') Insert image

  .foo(style='clear:both')
    form
      textarea#editor(placeholder='Enter your text ...', autofocus='autofocus',style="width: 610px; height: 200px")
        if (locals.blogpost)
          !{blogpost.html}

  form.post_meta
      fielset
        if (locals.blogpost)
          input(type="hidden",id="post_id",value='#{blogpost._id}')
        label(for='inputCategory') Category
        select(id='inputCategory',name='categories')
          each category in locals.categories
            if (locals.blogpost && blogpost.category === category)
              option(selected='selected') #{category}
            else
              option #{category}
        label(for='inputTitle') Title
        if (locals.blogpost)
          input(id='inputTitle',type="text",name="title",placeholder="Enter Title...",value="#{blogpost.title}")
        else
          input(id='inputTitle',type="text",name="title",placeholder="Enter Title...")
        label(for='inputTags') Tags (comma seperated)
        if (locals.blogpost)
          input(id='inputTags',type="text",name="tags",placeholder="Enter Tags...",value="#{blogpost.tags}")
        else
          input(id='inputTags',type="text",name="tags",placeholder="Enter Tags...")
    a.btn.btn-primary#save_post save

